<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPU NCC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- boxicons link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- remixions link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo"> LPU-NCC</a>

        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/lobby">Lobby</a</li>
            <li><a href="/about">About us</a></li>
            <li><a href="/todolist">Todo List</a></li>
        </ul>


        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
      


    <section class="hero">
        <div class="hero-text">
            <h5>#1 Trending</h5>
            <h4>Lead From Front</h4>
            <h1>XX JAGUARS</h1>
            <p>Join us on this site, an exclusive web platform designed to supercharge your connection with your buddies and seniors!</p>
            <a href="https://google.com/badpage">Compare</a>
            <a href="https://www.youtube.com/@dswlpu" class="ctaa"><i class="ri-play-fill"></i>Watch Us</a>
        </div>
        <div class="hero-img">
            <img src="/assets/ofhero.png" alt="">
        </div>
    </section>


    <div class="icons">
        <a href="https://www.instagram.com/lpuncc23_official/"><i class="ri-instagram-line"></i></a>
        <a href="https://www.youtube.com/@dswlpu"><i class="ri-youtube-line"></i></a>
        <!-- <a href="#"><i class=""></i></a> -->
    </div>

    <div class="scroll-down">
        <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>

    
   
    <div class="container marketing" style="padding: 15px;">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="/assets/amanbhai.png.png" class="rounded-circle" height="140px" width="140px" alt="">

          <!-- <h2 class="fw-normal">Heading</h2> -->
          <p>"Congratulations to Aman Chauhan from the 22nd Batch, recommended for the Indian Army by the 14 Board."</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/sirarty.png" class="rounded-circle" height="140px" width="140px" alt="">

          <!-- <h2 class="fw-normal">Heading</h2> -->
          <p>
"A proud moment as  Lt. Prateek from the 20' LPU NCC Batch is commissioned into the Regiment of Artillery in the Indian Army."</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/assets/sirassam.png" class="rounded-circle" height="140px" width="140px" alt="">
          <!-- <h2 class="fw-normal">Heading</h2> -->
          <p>
            "Lt. Abhishek graduates from the esteemed OTA Chennai, ready to serve with the Assam Regiment in the Indian Army."</p>
          <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">"Pro Chancellor Joins Students for Republic Day Celebrations:" <span class="text-body-secondary"> A Day of Unity and Patriotism</span></h2>
          <p class="lead">On January 26, 2024, the esteemed Pro Chancellor graced the Republic Day celebrations, igniting the spirit of nationalism among students. Amidst the vibrant atmosphere, she hoisted the national flag, inspiring fervor and pride. Her presence motivated NCC cadets and students alike, fostering a sense of unity and patriotism throughout the event.</p>
        </div>
        <div class="col-md-5">
          <img src="/assets/madams.png" alt="" height="400px" width="500px">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">"Bidding Farewell to the 22nd Batch of LPU NCC: A Journey of Dedication and Valor" <span class="text-body-secondary"></span></h2>
          <p class="lead">As the sun sets on their remarkable journey, we bid farewell to the 22nd Batch of LPU NCC with gratitude and pride. Their unwavering dedication and valor have left an indelible mark on the campus and beyond. Through countless drills, exercises, and community service endeavors, they have exemplified the true spirit of leadership and service. As they embark on new paths, may their experiences in the NCC continue to guide and inspire them in all their future endeavors.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/assets/lpugrp.png" alt="" height="400px" width="500px">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">"LPU NCC Cadets Gear Up for India's Historic Chandrayaan Landing on the Moon" <span class="text-body-secondary"></span></h2>
          <p class="lead">Amidst anticipation and excitement, the NCC cadets of LPU have diligently prepared to witness India's historic Chandrayaan landing on the moon. With unwavering determination and enthusiasm, they have immersed themselves in understanding the significance of this monumental achievement for the nation. Through workshops, discussions, and simulations, they stand ready to celebrate and commemorate this proud moment in India's space exploration journey.</p>
        </div>
        <div class="col-md-5">
          <img src="/assets/nccchandra.png" alt="" height="400px" width="500px">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div>

    <!-- footer neeche h bhai -->


    <div class="container" >
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>


    




    <!-- custom js link -->
    <script src="index.js"></script>
    
</body>
</html>




